<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magereactor" translate="label" sortOrder="100">
            <label>MageReactor</label>
        </tab>
        <section id="salesqrcode" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Sales QRCode</label>
            <tab>magereactor</tab>
            <resource>MageReactor_SalesQRCode::general_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="qr_data" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>QRCode Data</label>
                    <source_model>MageReactor\SalesQRCode\Model\Config\Source\Data</source_model>
                    <comment><![CDATA[Default value is order Increment ID]]></comment>
                </field>

                <field id="encoding" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>QRCode Encoding</label>
                    <source_model>MageReactor\SalesQRCode\Model\Config\Source\Encoding</source_model>
                    <comment><![CDATA[Default value UTF-8]]></comment>
                </field>

                <field id="width" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Width</label>
                    <depends>
                        <field id="salesqrcode/general/enabled">1</field>
                    </depends>
                </field>

                <field id="height" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Height</label>
                    <depends>
                        <field id="salesqrcode/general/enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
